bind TAB "+scores"
bind ENTER "+button2"
bind ESCAPE "togglemenu"
bind SPACE "+moveup"
bind + "sizeup"
bind , "+moveleft"
bind - "sizedown"
bind . "+moveright"
bind / "weapnext"
bind 1 "weapon 1"
bind 2 "weapon 2"
bind 3 "weapon 3"
bind 4 "weapon 4"
bind 5 "weapon 5"
bind 6 "weapon 6"
bind 7 "weapon 7"
bind 8 "weapon 8"
bind 9 "weapon 9"
bind = "sizeup"
bind \ "+mlook"
bind ` "toggleconsole"
bind a "+moveleft"
bind c "+back"
bind d "+forward"
bind f "+moveup"
bind s "+moveright"
bind t "messagemode"
bind w "+movedown"
bind x "zoomin1"
bind z "zoomout5"
bind g "messagemode2"
bind ~ "toggleconsole"
bind BACKSPACE "invdrop"
bind UPARROW "+forward"
bind DOWNARROW "+back"
bind LEFTARROW "+left"
bind RIGHTARROW "+right"
bind ALT "+strafe"
bind CTRL "+attack"
bind SHIFT "+speed"
bind F9 "noclip"
bind END "centerview"
bind MOUSE1 "+attack"
bind MOUSE2 "weapnext"
bind MOUSE3 "+button2"
bind PAUSE "pause"
set s_volume "0.800000"
set s_khz "22"
set s_loadas8bit "0.000000"
set s_mixahead "0.2"
set cl_stereo_separation "0.4"
set freelook "1"
set rate "25000"
set msg "1"
set cg_fov "90"
set in_mouse "1"
set in_joystick "0"
set sv_reconnect_limit "3"
set model "sorlag"
set name "Xian"
set lookstrafe "0"
set lookspring "0"
set m_pitch "0.022"
set hand "0"
set cl_run "1"
set sensitivity "15"
set win_noalttab "0"
set viewsize "100"
set zoomin1 "cg_fov 30; wait; sensitivity 7; wait; bind x vstr zoomin2; wait; bind z vstr zoomout5"
set zoomin2 "cg_fov 20; wait; sensitivity 5; wait; bind x vstr zoomin3; wait; bind z vstr zoomout4"
set zoomin3 "cg_fov 10; wait; sensitivity 4; wait; bind x vstr zoomin4; wait; bind z vstr zoomout3"
set zoomin4 "cg_fov 5; wait; sensitivity 3; wait; bind x vstr zoomin5; wait; bind z vstr zoomout2"
set zoomin5 "cg_fov 1; wait; sensitivity 2; wait; bind z vstr zoomout1"
set zoomout1 "cg_fov 5; wait; sensitivity 2; wait; bind z vstr zoomout2; wait; bind x vstr zoomin5"
set zoomout2 "cg_fov 10; wait; sensitivity 3; wait; bind z vstr zoomout3; wait; bind x vstr zoomin4"
set zoomout3 "cg_fov 20; wait; sensitivity 4; wait; bind z vstr zoomout4; wait; bind x vstr zoomin3"
set zoomout4 "cg_fov 30; wait; sensitivity 5; wait; bind z vstr zoomout5; wait; bind x vstr zoomin2"
set zoomout5 "cg_fov 90; wait; sensitivity 15; wait; bind x vstr zoomin1"
bind x vstr zoomin1
set tris_on "r_showtris 1; wait; bind f10 vstr tris_off"
set tris_off "r_showtris 0; wait; bind f10 vstr tris_on"
set speeds_on "r_speeds 1; wait; bind f11 vstr speeds_off"
set speeds_off "r_speeds 0; wait; bind f11 vstr speeds_on"
bind f10 vstr tris_on
bind f11 vstr speeds_on
color 2
set cg_autoswitch 0
set third_on "set cg_thirdperson 1; wait; bind e vstr third_off"
set third_off "set cg_thirdperson 0; wait; bind e vstr third_on"
bind e vstr third_on
